{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}

    <div class="container">
        <strong><h3>Assignments</h3></strong>
        <div class="col-12 col-sm-6 col-md-10">
            {% if request.user.is_authenticated and request.user.role == 'instructor' %}
                {% for foo in assignment %}
                    <h3><strong> {{ foo.assignment_name }}  </strong></h3>
                    <hr/>
                    <p> <h4> Question Content</h4> {{ foo.question_content }} </p>
                    <br/>
                    <p><a href = "/media/{{ foo.related_file }}"> Related file</a>  </p>
                    <br/>
                    <p> <h4> Assignment Marks</h4> {{ foo.assignment_marks }} </p>

                    <p> <h4>Time</h4> {{ foo.duration }} hours </p>
                    <br>
                    <a href="{% url 'users:assignment-submission-list' foo.id %}">Submitted Assignments</a><br>
                    <br>
                {% endfor %}
                <h3><a href="{%url 'users:course'%}">BACK TO VIEW ALL COURSES</a></h3>
                <h3><a href="{%url 'users:instructor'%}">HOME PAGE</a></h3>

                <hr/>


        

            {% else %}


                {% for foo in assignment %}
                    <h3><strong> {{ foo.assignment_name }}  </strong></h3>
                    <hr/>
                    <p> <h4> Question Content</h4> {{ foo.question_content }} </p>
                    <br/>
                    <p><a href = "/media/{{ foo.related_file }}"> Related file</a>  </p>
                    <p> <h4>Assignment Marks</h4> {{ foo.assignment_marks }} </p>

                    <p> <h4>Time</h4> {{ foo.duration }} hours </p>
                          <br/>
                      <h4><a href="{% url 'users:assignment_submission' foo.id %}">Submit Assignment</a></h4>
                      <br>
                      
                      
                      <h4><a href="{% url 'users:gradeassignment-submission-list' foo.id %}">Grade</a></h4>
                      
                      <hr/>
                {% endfor %}
                <h4><a href="{%url 'users:course'%}">BACK TO VIEW-COURSES</a></h4>
                <hr/>


            {% endif %}
            <br/>
        </div>

    </div>

{% endblock %}
