{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}

    <div class="container">

        <div class="col-12 col-sm-6 col-md-10">
                    <strong><h3>Assignments</h3></strong>
        <hr/>
            {% for foo in assignment_submission %}

                <p> <h4>Name</h4> {{ foo.name }} </p>

                <hr/>
                <p> <h4>Answer</h4> {{ foo.content }}  </p>

                <br/>
                <p> <a href="/media/{{ foo.file }}">View file</a> </p>
                <hr/>
            {% endfor %}


            <br/>


            <br/>


        </div>

    </div>

{% endblock %}
