{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}


{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/viewcourse.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">




        
{% if request.user.is_authenticated and request.user.role == 'instructor' %} 
<div class="topnav" id="myTopnav">
    <a href="{%url 'users:instructor'%}" class="active">Home</a>
    <a href="{% url 'users:course' %}">View Courses</a>
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
    </div>       
    
<br><br><br><br><br>

<div class="container">

    <div class="col-12 col-sm-6 col-md-10">
                <strong><h3>Assignments</h3></strong>
    <br>

            {% for foo in assignment_submission %}
                <hr/>
            
                <p> <h4>Student Username</h4> {{ foo.name }} </p>
   
                <p> <h4>Comments :</h4> {{ foo.content }}  </p>

                <br/>
                <p> <a href="/users/media/{{ foo.file }}">Submitted file</a> </p>
                <br>
                <p> <a href="{% url 'users:gradeassignment_submission' foo.id %}">Grade Assignment</a> </p>
                <hr/>
            {% endfor %}
         
            
{% endif %}

{% if request.user.is_authenticated and request.user.role == 'student' %}
<div class="topnav" id="myTopnav">
    <a href="{%url 'users:student'%}" class="active">Home</a>
    <a href="{% url 'users:course' %}">View Courses</a>
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
    </div>       
    
 <br>
 <br> <br>
 <br> <br>
 <br>
<div class="container">

    <div class="col-12 col-sm-6 col-md-10">
                <strong><h3>Assignments</h3></strong>
    
            {% for foo in assignment_submission %}
            {% if foo.name == request.user.username %} 
            <hr/>
             <h3>Student Username: {{ foo.name }} </h3>
   
           <h3>Comments: {{ foo.content }} </h3> 

                <h3>  Submitted File link:<a href ="/users/media/{{ foo.file }}"> Here </a> </h3>
 
                <hr/>
            {% endif %}    
            {% endfor %}
            
{% endif %}    
            




            <br/>


            <br/>


        </div>

    </div>

{% endblock %}
