{% extends 'base.html' %}
{% load static %}
{% block title %}Courses{% endblock %}


{% block content %}

{% if request.user.is_authenticated and request.user.role == 'instructor' %}
    <div class="container">


      <div class="row">

        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">


            <h3>{{ request.user.first_name }}'s Course's</h3>
            <h3><a href="{%url 'users:instructor'%}">HOME PAGE</a></h3>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
          {% for course in course %}
         {% if request.user.first_name == course.teacher_name %} 
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">

          <div class="single-dentist-area mb-100">
            <img  style="height: 300px; width: 500px " src="{{ course.course_image.url }}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">

              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                  <h5>{{ course.course_name }} |  <a href="{% url 'users:course-view' course.id %}"> <small>VIEW COURSE</small></a> </h5>
                <p>{{ course.teacher_name }} </p>


              </div>
            </div>
          </div>
        </div>
       {% endif %} 
      {% endfor %}

      </div>
    </div>
    
{% endif %}


{% if request.user.is_authenticated and request.user.role == 'student' %}

    <div class="container">


      <div class="row">

        <!-- Section Heading -->
        <div class="col-12">
          <div class="section-heading text-center">


            <h3>{{ request.user.first_name }}'s Course/s</h3>
            <h3><a href="{%url 'users:student'%}">HOME PAGE</a></h3>
            <div class="line"></div>
          </div>
        </div>
      </div>

      <div class="row">
          {% for course in request.user.courses.all %}
        <!-- Single Dentist Area -->
        <div class="col-12 col-sm-6 col-md-4">

          <div class="single-dentist-area mb-100">
            <img  style="height: 300px; width: 500px " src="{{ course.course_image.url }}" alt="">
            <!-- Dentist Content -->
            <div class="dentist-content">
              <!-- Social Info -->
              <div class="dentist-social-info">

              </div>
              <!-- Dentist Info -->
              <div class="dentist-info bg-gradient-overlay">
                  <h5>{{ course.course_name }} |  <a href="{% url 'users:course-view' course.id %}"> <small>VIEW COURSE</small></a> </h5>
                <p>{{ course.teacher_name }} </p>


              </div>
            </div>
          </div>
        </div>
      {% endfor %}

      </div>
    </div>
{% endif %}
{% endblock %}
