{% extends 'base.html' %}
{% load static %}
{% block title %}Assignments{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/viewcourse.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="topnav" id="myTopnav">
    <a href="{%url 'users:student'%}" class="active">Home</a>
    <a href="{% url 'users:course' %}">View Courses</a>
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
    </a>
    </div>       
    
<br><br><br><br><br>

    <div class="container">

        <div class="col-12 col-sm-6 col-md-10">
                    <strong><h3>Grade</h3></strong>
        <hr/>
            {% for foo in gradeassignment_submission %}


                <p> <h4>MARKS</h4> {{ foo.marks }} </p>
                <p> <h4>Feedback</h4> {{ foo.feedback }}  </p>

                <br/>
                <hr/>
            {% endfor %}




            <br/>


            <br/>


        </div>
{% endblock %}        
