
{% load static %}
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>HTML5 Login Form with validation Example</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'css/login.css'%}">

</head>
<body>
<!-- partial:index.partial.html -->
<br><br>
<br><br>
<div id="login-form-wrap">
  
  <h2><strong>Login</strong></h2>
  
  <form id="login-form" action="" method="POST">
    {% csrf_token %}
    {% for field in form %}
        <p>{{ field.label }}: <br> {{ field }}</p>
    {% endfor %}
    <input type="submit" id="login" value="Login">
    </p>
  </form>
  <div id="create-account-wrap">
    <h3>Don't have an account? <a href="{% url 'users:signup' %}">Sign Up</a><h3>
  </div><!--create-account-wrap-->
</div><!--login-form-wrap-->
<!-- partial -->
  
</body>
</html>
