{% load static %}
{% if user.is_authenticated %}
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel="stylesheet" href="{% static 'css/instructor.css'%}">
    <div class="alert alert-success" role="alert">
        
         <div class="sidebar">
        <a class="active" href="{% url 'users:password_change' %}">Change Password</a>
        <a href="{% url 'users:profile-update' %}">Edit Profile: </a>
        <a href="{% url 'users:logout' %}">logout</a>
      </div>
        
        <div class="box">
        <h3>Welcome {{ user.username }}!.This is student page</h3>
        <a href="{% url 'users:course' %}">View Course?</a>
        <a href="{% url 'users:join_course' %}">Join Course?</a>
        <a href="{% url 'users:available_course' %}">Available Course?</a>
        </div>
    </div>
{% else %}
    <div style="text-align: center;" class="alert alert-success" role="alert">
        <h3 style="text-align: center;">WELCOME!!</h3>
        <a href="{% url 'users:signup' %}">Signup</a>
        <a href="{% url 'users:login' %}">Login</a>
    </div>
{% endif %}
