{% extends 'base.html' %}
{% load static %}
{% block title %}Courses{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="{% static 'css/viewcourse.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% if request.user.is_authenticated and request.user.role == 'instructor' %}


        <div class="topnav" id="myTopnav">
        <a href="{%url 'users:instructor'%}">Home</a>
        <a href="{% url 'users:course' %}">View Courses</a>
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>
        </div>       
        
        <div class="sidebar">

                <a class="active" href="{% url 'users:course-view' course.id %}">{{request.user.first_name}}  {{request.user.last_name }}</a>
                <a class="active"href="{% url 'users:course-view' course.id %}">{{request.user.username}}</a>
                <a href="{% url 'users:assignment_create' course.id %}">Create Assignment</a>
                <a href="{% url 'users:assignment-list' course.id %}">Assignments</a>
              </div>

{% endif %}   

{% if request.user.is_authenticated and request.user.role == 'student' %}

        <div class="topnav" id="myTopnav">
         <a href="{%url 'users:student'%}" >Home</a>        
        <a href="{% url 'users:course' %}">View Courses</a>        
        <a href="{% url 'users:logout' %}">Logout</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
        </a>
        </div>       
        
        <div class="sidebar">

                <a class="active" href="{% url 'users:course-view' course.id %}">{{request.user.first_name}}  {{request.user.last_name }}</a>
                <a class="active"href="{% url 'users:course-view' course.id %}">{{request.user.username}}</a>
                <a href="{% url 'users:assignment-list' course.id %}">Assignments</a>
              </div>


{% endif %}
<br>
<br>
<div class="container">
        <div class="col-12 col-sm-6 col-md-10">

             <br>
             <br>
             <br>
             <h1 class='head1'><strong>{{ course.course_name }} </strong></h1>
              <br/>
            <img  style=" height: 300px; width: 900px  " src="{{ course.course_image.url }}" alt="">


                         <hr/>
                         <br>
                  <h3> <strong>Instructor :</strong> {{ course.teacher_name }} </h3>
                           <br/>
                 <h3><strong>About Instructor : </strong> </h3><h4>{{ course.teacher_details }} </h4>
                          <br/>
                  <h4> <h3><strong>About Course :</strong> </h3>{{ course.course_description }} </h4>
                   
                          <br/>
                  
                  <br/>
                  <br/>

         </div>

    </div>

{% endblock %}